<html>
  <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<style>
		* {
			font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
			box-sizing: border-box;
		}
		div {
			display: block;
		}
		.ui-icon-check { background-color: green; float: right; !important; }
		.ui-icon-alert { background-color: yellow; float: right; !important; }
		.ui-icon-delete { background-color: red; float: right; !important; }
		.ui-dialog  .ui-header .ui-btn-icon-notext { display:none;} 

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
p.test {
    width: 11em; 
    border: 1px solid #000000;
    word-wrap: break-word;
}
.lt-ie10 {
  float: right;
}
.loader {
  border: 4px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  width: .5em;
  height: .5em;
  -webkit-animation: spin 0.75s linear infinite;
  -moz-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
}
.lt-ie10 .loader {
  margin: 0 0 -2px;
  background: url("static/loading.gif") center center no-repeat;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  border: none;
  width: 16px;
  height: 16px;
}
th {
    background-color: white;
    color: #307fc8;
    padding: 6px;
}
table {
	width: 100%;
	border-spacing: 10px;
	border-collapse: collapse;
}
td {
	padding: 6px;
}
#one_main {
	position: absolute;
	width: 400px;
	height: 400px;
	margin-left: 29%;
	margin-top: 2%;
	background-size:400px 400px;
	background-image: url(/images/drag.png);
	background-repeat:no-repeat;
	z-index: 1;
}
#one_main_image {
	margin-left: 22%;
	background-position: center;
	opacity: 0.5;
	z-index: 2;
}
.ui-overlay-a {
  background-color: #444444;
}
@media print {
  //.ui-navbar {
  //	display: none;
  //}
  .tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
   * { color: black; background: white; }
   table { 
  	border-collapse:collapse;
  	border: 1px solid black;
  	width:100%;
  	text-align:right;
  }
  .fileupload {
	align: left;
  }
}
#report {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#report td, #report th {
    border: 1px solid #ddd;
    padding: 8px;
}
#report tr:nth-child(even){background-color: #f2f2f2;}
#report tr:hover {background-color: #ddd;}
#report th {    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3B763E;
    color: white;
}  
	</style>
	<link rel="stylesheet" href="/smc/static/jquery.toast.css" />
	<link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css" /> 
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript" src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog2.min.js"></script>
	<script src="/smc/static/jquery.toast.js"></script>
	<script type="text/javascript">
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
<script type="text/javascript">
	// users are not allowed to make a final submission until they have submitted the proper custom checks (ie. tox, chem, fish, etc..)
	var allowed_to_submit = 1;
	//var type_of_data = "";	// keep track of data submitted (toxicity, fish) for emailing committee
	var business;
	var custom;
	var redundant;
	var redundant_custom = {};
	var summary_file;
	var table_match;
	var status_timer;
	var timestamp;
	var email_login;
	var delineate;
	var agency;
			function application(){
				console.log("app routine");
				$.ajax({
					url: $SCRIPT_ROOT + '/application',
					type: "POST",
					data: "test",
					processData: false,
					contentType: false,
					success: function(data){
						//console.log(data);
						//$('#status').append(data.status_file);
						console.log(data.key); // - show timestamp
						timestamp = data.timestamp;
						usession = data.key;
						get_status(data.timestamp);
					},
					error: function(data){
						console.log("Application Error:"+ data.responseJSON.message); 
						 message = "problem";
						if(data.responseJSON.message){
							message = data.responseJSON.message;
						} else {
							message = "Missing data.responseJSON.message";
						}
						end_loader('#core_progress','<span>Failed Core Checks <a href="#" data-role="button" data-icon="check" data-inl    ine="true" data-iconpos="notext"></a></span>');
						end_application("Application Failed","The application suffered a critical error. SCCWRP has been notified. The application will reload now","error",message,email_login,agency,"unknown");
					}
				})
			}	
	function print_core_errors(server_object,error_title){
		  console.log(server_object);
		  $.each(server_object, function(array_key,array_val){
			tab_id = "#tab"+array_key;
			$('#tabs').append('<div id="tab'+ array_key +'" style="overflow-y:auto; height: 100%;"><br></div>');
			var error_object = $.parseJSON(server_object[array_key]);
			if(error_object.length !== 0){
				var body = '<h3>'+error_title+'</h3><table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive table-stroke"><thead><tr class="ui-bar-d"><th data-priority="1">Row</th><th>Column</th><th>Error Type</th><th>Error/Incorrect Value</th></tr></thead><tbody>';
				$.each(Object.keys(error_object), function(sk,sv){
					$.each( error_object[sk], function( key, value ) {
						//console.log(value);
						try {
							var record = JSON.parse(value);
						} catch(e) {
							//alert(e);
							message = e;
							end_application("Application Failed","The application suffered a critical error. SCCWRP has been notified. The application will reload now","critical",message,email_login,agency,"unknown");
						}
						var columns = [];
						var error_types = [];
						var errors = [];
						for(var i = 0; i < record[0].value.length; ++i){
							var s = i + 1;
							columns.push(record[0].value[i].column + "<sup>"+s+"</sup>");
							error_types.push(record[0].value[i].error_type + "<sup>"+s+"</sup>");
							errors.push(record[0].value[i].error + "<sup>"+s+"</sup>");
							// increment row by 2 due to array starting at 0 and column headers in excel file
							//console.log(record[0]);
							if(record[0].row){
								var row_number = parseInt(record[0].row) + 2;
							}
							if(record[0].rows){
								var row_number = record[0].rows;
							}
						}
						body += "<tr><td>"+row_number+"</td><td>"+columns.join('<br>')+"</td><td>"+error_types.join('<br>')+"<td>"+errors.join('<br>')+"</td></tr>";
					});
				});
			} else {
				// NEED TO FIX undefined
				// body += "<p>test</p>";
				console.log("Empty");
			}
			body += "</tbody></table><br>";
			$(tab_id).append(body);
			$("#tabs").tabs();
			$("#tabs").tabs("refresh");
		  });
	}
	function end_application(h,t,i,m,l,a,d){
		// d = type of data if known
		// l = email address
		// a = agency
		//$('#message_window').dialog( "close" );
		// if i = critical then email sccwrp
		// if i = success plus h end of application email sccwrp and committee
		var end_toast = $.toast({
    			heading: h,
    			text: t,
    			position: 'mid-center',
    			icon: i,
			hideAfter: false,
			loader: false
		});
		/* disable temporarily - may have to leave disabled - some users leave the app to run and walk away
		setTimeout(function(){ 
			// reload application
			reload_page();
		}, 10000); 
		*/
		if (i == "success" && h == "Data Loaded Successful"){
    				$.ajax({
					type: "GET",
					url: $SCRIPT_ROOT + '/mail?action=' + i + '&type=' + d + '&message=' + m + '&login=' + l + '&agency=' + a,
        				success: function(data) {
						// probably need to adjust this if mail fails
						console.log(data);
						/*
						var answer = confirm("Restart the application?");
						if (answer == true){
							//reload_page();
							//report(); - moved into upload
						} else {
							// do nothing
						}
						*/
					},
					error: function(data){
						console.log(data);
					}
				});
		}
		if (i == "critical"){
			alert("critical");
    				$.ajax({
					type: "GET",
					url: $SCRIPT_ROOT + '/mail?action=' + i + '&type=' + d + '&message=' + m + '&login=' + l + '&agency=' + a,
        				success: function(data) {
						console.log(data);
						var answer = confirm("Restart the application?");
						if (answer == true){
							reload_page();
						} else {
							// do nothing
						}
					},
					error: function(data){
						console.log(data);
					}
				});
		}
		// stop status either way
		end_status();
	}
	// for some reason toxicity wont work as a function - strange
	function start_loader(lyr,startmsg){
		//console.log(startmsg);
		$(lyr).html(startmsg).enhanceWithin();
	}	
	function end_loader(lyr,endmsg){
		//console.log(endmsg);
		$(lyr).html(endmsg).enhanceWithin();
	}	
	function get_agency() {
    		$.ajax({
			type: "GET",
			url: $SCRIPT_ROOT + '/agency',
        		success: function(data) {
           			console.log(data);
				$("#checker_login_owner").html(data)
        		},
        		error: function(data) {
				console.log("Application may have timed out.:"+ data);
				 message = "problem";
                                if(data.responseJSON){
                                	message = data.responseJSON.message;
                                } else {
					message = data.statusText;
                           	}
				end_loader('#core_progress','<span>Failed Core Checks <a href="#" data-role="button" data-icon="check" data-inl    ine="true" data-iconpos="notext"></a></span>');
				//end_application("Application Failed","The application suffered a critical error. SCCWRP has been notified. The application will reload now","error",message,email_login);
        		},
        		cache: false
    		});
	}
	function get_status(t) {
    		$.ajax({
			type: "GET",
			url: $SCRIPT_ROOT + '/status?t=' + t,
        		success: function(data) {
           			console.log(data.message);
				$('#status').html(data.message);
				$('#submit_status').html(data.message);
            			// call it again after one second
				var t = data.timestamp;
            			status_timer = setTimeout(function(){ get_status(t); }, 3000);    
        		},
        		error: function(data) {
				console.log("Application may have timed out.:"+ data);
				 message = "problem";
                                if(data.responseJSON){
                                	message = data.responseJSON.message;
                                } else {
					message = data.statusText;
                           	}
				end_loader('#core_progress','<span>Failed Core Checks <a href="#" data-role="button" data-icon="check" data-inl    ine="true" data-iconpos="notext"></a></span>');
				//end_application("Application Failed","The application suffered a critical error. SCCWRP has been notified. The application will reload now","error",message,email_login);
        		},
        		cache: false
    		});
	}
	function end_status(){
		clearTimeout(status_timer);
	}
	function reload_page() {
	  //console.log("fired reload page");
	  $.toast().reset('all');
	  location.href = "/smc";
	}
	function report(){
		console.log("javascript report routine");
		$.ajax({
			url: $SCRIPT_ROOT + '/report',
			type: "POST",
			data: "test",
			processData: false,
			contentType: false,
			success: function(data){
				console.log(data);
				if(data.state === 0){
					$.mobile.changePage( "#report", { transition: "pop"} );
					$('#report_main').append(data.message);
					$('#report_main').append(data.fieldnames);
					//$('#report_main').append(data.fielddata);
					//$.each(data.fieldata, function(array_key,array_val){
					//console.log(array_key);
					//});
					report_string = "";
					for(var i= 0; i < data.fielddata.length; ++i){
						console.log(data.fielddata[i]['attributes']);
						report_string = "<ul><li>"+ data.fielddata[i]['attributes']['lab'] + "</li><li>" + data.fielddata[i]['attributes']['parameter'] + "</li><li>" + data.fielddata[i]['attributes']['stationid'] + "</li><li>" + data.fielddata[i]['attributes']['submissionstatus'] + "</li></ul>";
						$('#report_main').append(report_string);
					}
				}
				if(data.state === 1){
					console.log("failed report");
				}
			},
		    	error: function(data){
				/* need to define login */
				 message = "problem";
				var login = "to do item";
				console.log("Application Error:"+ data.responseJSON.message);
				if(data.responseJSON.message){
					message = data.responseJSON.message;
				} else {
					message = "Missing data.responseJSON.message";
				}
				end_loader('#core_progress','<span>Failed Core Checks <a href="#" data-role="button" data-icon="check" data-inline="true" data-iconpos="notext"></a></span>');
				end_application("Application Failed","The application suffered a critical error. SCCWRP has been notified. The application will reload now","error",message,login,"unknown");
    			}
		})
		.fail(function(response) {
			console.log(response);
		})
	}	
	function presentation(table_match,redundant,redundant_custom,business,custom,summary_file){
		console.log("presentation");
		console.log(business);
		console.log(summary_file);
		var redundant_rows = [];
		var redundant_custom_rows = [];
		console.log(table_match);
		$.each(table_match, function(tkey,tval){
			console.log("tkey:"+ tkey + " tval: "+ tval);
			var value_string = String(tval);
			var elements = value_string.split("-");
			var tab_name = elements[1];
			var tab_show = String(elements[4]);
			console.log(tab_show);	
			if(tab_show == "True"){
				// create tab navigation button 
				$('#tabsnav ul').append('<li><a href="#tab' + tkey + '">'+ tab_name + '</a></li>');
				$("#tabs").tabs();
				$("#tabs").tabs("refresh");
				$("#tabs").tabs('load', tkey);
				if(summary_file && tkey == 1){
					$('#tabsnav ul').append('<li><a href="#tab3">CSCI</a></li>');
					$('#tabs').append('<div id="tab3" style="overflow-y:auto; height: 100%;"><br><a href="http://checker.sccwrp.org/smc/logs/'+ summary_file + '.core.csv" target="_blank">CSCI component scores [Excel]</a> - <a href="http://checker.sccwrp.org/smc/logs/'+ summary_file + '.Suppl1_mmi.csv" target="_blank">Details about pMMI score [Excel]</a> - <a href="http://checker.sccwrp.org/smc/logs/'+ summary_file + '.Suppl1_grps.csv" target="_blank">Details on ref group membership [Excel]</a> - <a href="http://checker.sccwrp.org/smc/logs/'+ summary_file + '.Suppl1_OE.csv" target="_blank">Details about O/E score [Excel]</a> - <a href="http://checker.sccwrp.org/smc/logs/'+ summary_file + '.Suppl2_mmi.csv" target="_blank">Iteration-level details on pMMI score [Excel]</a> - <a href="http://checker.sccwrp.org/smc/logs/'+ summary_file + '.Suppl2_OE.csv" target="_blank">Iteration-level details on O/E score [Excel]</a></div>');
				}
		 		//$("#tabsnav").navbar();
			}
		}); // close table_match
		if(redundant){
		  console.log("test");
		  console.log("redundant");
		  console.log(redundant);
		  print_core_errors(redundant,"Redundant (Core Errors):");
		}
		/* output core checks */
		if(business){
		  console.log("business");
		  //console.log(business);
		  print_core_errors(business,"Core Errors:");
		}
		if(redundant_custom){
		  console.log("redundant_custom");
		  console.log(redundant_custom);
		  //if(Object.keys(redundant_custom).length !== 0){ -- issue with ie 9 disabled temporarily
			console.log("redundant custom");
			console.log(redundant_custom);
			// get json from server into an object
	  		var rerror_object = $.parseJSON(redundant_custom);
		  	//print_core_errors(redundant_custom,"Redundant (Custom Errors):");
			// check if we have data
	  		if(rerror_object.length !== 0){
				count = 0;
			  	$.each(Object.keys(rerror_object), function(rk,rv){
					var body = '<h3>Redundant (Custom Errors):</h3><table data-role="table" id="table-custom-1" class="ui-body-d ui-shadow table-stripe ui-responsive"><thead><tr class="ui-bar-d"><th>Rows</th><th>Column</th><th>Error Type</th><th>Error/Incorrect Value</th></tr></thead><tbody>';
					// gets tab id - console.log(Object.keys(rerror_object[rk])[0]);	
					console.log(Object.keys(rerror_object[rk])[0]);
					if (Object.keys(rerror_object[rk])[0]){
						var tab_holder = Object.keys(rerror_object[rk])[0].split('-');
						rtab_id = "#tab"+tab_holder[0];
						console.log(rtab_id);
						$.each( rerror_object[rk], function( key, value ) {
							//console.log(key);
							var record = JSON.parse(value);
							var row = record[count].rows;
							$.each( record[count].value, function ( mkey, mvalue ){
								body += "<tr><td>"+row+"</td><td>"+mvalue.column+"</td><td>"+mvalue.error_type+"<td>"+mvalue.error+"</td></tr>";
							});
						})
						body += "</tbody></table><br>";
						$(rtab_id).append(body);
						$("#tabs").tabs();
						$("#tabs").tabs("refresh");
					}
			  	})
				count++;
	  		}
		  //}
		}
		//console.log("custom");
		if(custom){
		  //if(Object.keys(custom).length !== 0){ -- issue with ie 9 disabled temporarily
			 console.log("custom: "); 
			 //console.log(custom); 
			  var error_object = $.parseJSON(custom);
			  // check to make sure that elements of the json are empty
			  if(error_object.length !== 0){
				$.each(Object.keys(error_object), function(sk,sv){
					$('#tabs').append('<div id="tab'+ sk +'" style="overflow-y:auto; height: 100%;"><br></div>');
					//tab_id = "#tab"+sk;
					//console.log("tab_id: "+tab_id);
					// gets tab id - console.log(Object.keys(error_object[sk])[0]);	
					var tab_holder = Object.keys(error_object[sk])[0].split('-');
					tab_id = "#tab"+tab_holder[0];
					console.log(tab_id);
					var body = '<h3>Individual Custom Errors:</h3><table data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive table-stroke"><thead><tr class="ui-bar-d"><th data-priority="1">Row</th><th>Column</th><th>Error Type</th><th>Error/Incorrect Value</th></tr></thead><tbody>';
					$.each( error_object[sk], function( key, value ) {
						var record = JSON.parse(value);
						var columns = [];
						var error_types = [];
						var errors = [];
						for(var i = 0; i < record[0].value.length; ++i){
							var s = i + 1;
							columns.push(record[0].value[i].column + "<sup>"+s+"</sup>");
							error_types.push(record[0].value[i].error_type + "<sup>"+s+"</sup>");
							errors.push(record[0].value[i].error + "<sup>"+s+"</sup>");
							// increment row by 2 due to array starting at 0 and column headers in excel file
							var increment_row = parseInt(record[0].row) + 2;
						}
						body += "<tr><td>"+increment_row+"</td><td>"+columns.join('<br>')+"</td><td>"+error_types.join('<br>')+"<td>"+errors.join('<br>')+"</td></tr>";
					});
					body += "</tbody></table><br>";
					//console.log(body);
					$(tab_id).append(body);
				});
				//body += "</tbody></table><br>";
				//$(tab_id).append(body);
				// if they are empty then print empty
				$("#tabs").tabs();
				$("#tabs").tabs("refresh");
		  	} else {
				$("#tabs").tabs();
				$("#tabs").tabs("refresh");
				console.log("Empty");
			}
		    //} 
		} // end of custom
	}
	function finish(){
		console.log("finish routine");
		$.ajax({
			url: $SCRIPT_ROOT + '/finish',
			type: "POST",
			data: "test",
			processData: false,
			contentType: false,
			success: function(data){
				console.log(data);
				$('#excel_file').append('<a href="'+data.excel+'" target="_blank">'+data.excel+'</a>');
				//$('#message_window').dialog( "close" );
				//$.mobile.changePage( "#two", { transition: "pop"} );
				var error = JSON.parse(data.errors);
				// when there are no errors we can load to staging
				if(error.total === 0 && allowed_to_submit === 0){
					//alert("Ready to load!")
					$.toast({
    						heading: 'Ready for Final Submission',
    						text: 'Data is clean and ready for final submission. Please use "Final Submit" button below.',
    						position: 'mid-center',
    						icon: 'success',
						loader: false
					})
					//$.mobile.changePage('#notification_window', {transition: 'pop', role: 'dialog'});
					$('#final_submit').show();
				}
				$("#total_errors").html(error.total);
					$("#match_errors").html(error.match);
					$("#mia_errors").html(error.mia);
					$("#lookup_errors").html(error.lookup);
					$("#duplicate_errors").html(error.duplicate);
					$("#custom_errors").html(error.custom);
					$.mobile.changePage( "#two", { transition: "pop"} );
				}
			})
	}	
	function upload(dropped_files){
				var formData = new FormData();
				formData.append('login', email_login);
				formData.append('agency', agency);
				formData.append('owner', owner);
				formData.append('year', year);
				formData.append('project', project);
				formData.append('usession', usession);
				// look to see if original_file is set
				var original_file_set = $("#original_file").text();
				console.log(original_file_set);
				// if its set then this is a re-submission
				if (original_file_set){
					console.log("set");
					// restart application - need to clear dom
					application();
					// remove tabs from container
					var tab_count = $('#tabs').length + 1;
					console.log("tab count: "+tab_count);
					for(var t = 1; t < tab_count; ++t){
						console.log("t: "+t);
        					var tab = $( "#tabs" ).find(".ui-tabs-nav li:eq("+t+")").remove();
						console.log(tab);
					}
        				$("#tabs").tabs("refresh");
					// clear indicators
					$("#compare_list").html('');
					$("#log_file").html('');
					$("#excel_file").html('');
					$("#submission_type").html('');
					$("#assignment_type").html('');
				} else {
					console.log("notset");
				}
				// call application first
				for(var i = 0; i < dropped_files.length; ++i){
					/* submit as array to as file array - otherwise will fail */
					formData.append('files[]', dropped_files[i]);
				}
				$.ajax({
					url: $SCRIPT_ROOT + '/upload',
					type: "POST",
					data: formData,
					processData: false,
					contentType: false,
					beforeSend: function(){
						$.mobile.changePage('#message_window', {transition: 'pop', role: 'dialog'});
						start_loader('#file_progress','<span>Processing File <p class="lt-ie10"><i class="loader"></i></p></span>')
					},
					success: function(data){
						console.log(data);
						$("#original_file").html(data.original_file);
						$("#modified_file").html(data.modified_file);
						if(data.state === 0){
							end_loader('#file_progress','<span>Finished Uploading File <a href="#" data-role="button" data-icon="check" data-inline="true" data-iconpos="notext"></a></span>')
							console.log("done with upload");
							table_match = data.table_match;
							business = data.business;
							redundant = data.redundant;
							custom = data.custom;
							redundant_custom = data.redundant_custom;
							console.log(redundant_custom)
							summary_file = data.summary_file;
							if(data.message){
								$.toast({
									heading: 'Just to let you know',
									text: data.message,
									position: 'mid-center',
									icon: 'info',
									loader: false
								})
								if(data.message == "Failed CSCI delineate"){
									//alert("set variable");
									delineate = "no";
								}
								if(data.message == "Failed CSCI routine"){
									//alert("set variable");
									delineate = "no";
								}
							}
                                			// when there are no errors we can make submission button available to load to staging
                                			//if(error.total === 0 && allowed_to_submit === 0){ -- original probably dont need allowed_to_submit
							// might want to move submission with errors to data.state === 1 - clean separation of code
							if (data.errors) {
								error = JSON.parse(data.errors);
                                				if(error.total === 0){ 
                                        				$.toast({
										heading: 'Ready for Final Submission',
										text: 'Data is clean and ready for final submission. Please use "Final Submit" button below.',
										position: 'mid-center',
										icon: 'success',
										loader: false
                                        				})
									$('#final_submit').show();
									// show submission type
									$("#submission_type").html(data.datatype);
									// show assignment table
									$("#assignment_table").html(data.assignment);
								}
								$("#total_errors").html(error.total);
								$("#match_errors").html(error.match);
								$("#mia_errors").html(error.mia);
								$("#lookup_errors").html(error.lookup);
								$("#duplicate_errors").html(error.duplicate);
								$("#custom_errors").html(error.custom);
							}
							if (data.excel){
								$('#excel_file').append('<a href="'+data.excel+'" target="_blank">'+data.excel+'</a>');
							}
							$.each(table_match, function(key,val){
								var value_string = String(val);
								var elements = value_string.split("-");
								if(elements[4] === "True"){
									$("#compare_list").append("<ul><li><strong style='color: green;'>ALL REQUIRED FIELDS ARE PRESENT</strong> - Excel sheet "+elements[1]+" - Matched table "+elements[3]+" on columns:<p>"+elements[6]+"</p></li></ul>");
								} else {
									/* working but has issue with word wrap */
									$("#compare_list").append("<ul data-role='listview'><li style='word-wrap: break-word;'><strong style='color: red;'>MISSING REQUIRED FIELDS</strong> - Excel sheet "+elements[1]+" - The closest matching table we could find was "+elements[3]+" - <font color=red>unmatched tab columns: ["+elements[7]+"]</font> - <font color=red>unmatched table columns: ["+elements[8]+"]</font></p></li></ul>");
									//$("#compare_list").append("<div style="white-space:nowrap;'><strong>NO MATCH</strong> - Excel sheet "+elements[1]+" - The closest matching table we could find was "+elements[3]+" on columns:<p><font size=1pt>"+elements[6]+"</font> - <font color=red>unmatched tab columns: ["+elements[7]+"]</font> - <font color=red>unmatched table columns: ["+elements[8]+"]</font></p></div>");
									console.log("Match: "+ elements[6]);
									console.log("No match tab: "+ elements[7]);
									console.log("No match table: "+ elements[8]);
								}
								$("#compare_list").append("<br>");
							});
							console.log(business);	
							presentation(table_match,redundant,redundant_custom,business,custom,summary_file);
							// Tab initialization
							$('#tabs').tabs({
							    activate: function(event,ui) {
								console.log(ui.newTab.index());
								// You need Firebug or the developer tools on your browser open to see these
								console.log(event);
								// This will get you the index of the tab you selected
								//console.log(event.options.selected);
								// And this will get you it's name
								// console.log(event.tab.text);
							    }
							});
							console.log("refresh tab");
							$("#tabs").tabs("refresh");
							$.mobile.changePage( "#two", { transition: "pop"} );
						}
						if(data.state === 1){
							end_loader('#file_progress','<span>Failed Uploading <a href="index.html" data-role="button" data-icon="delete" data-inline="true" data-iconpos="notext"></a></span><br>'+data.message)
						} 	
					},	// end ajax upload
                        		error: function(data){
						console.log(data)
						 message = "problem";
                                		/* need to define login */
                                		//var login = "to do item";
                                		//console.log("Application Error:"+ data.responseJSON.message); - breaks if responseJSON isnt found
                                		if(data.responseJSON){
                                        		message = data.responseJSON.message;
                                		} else {
							message = data.statusText;
                                        		//message = "Missing data.responseJSON.message";
                                		}
                                		if(data.status === "500"){
                                        		console.log("Application failed. Please email file to SCCWRP.");
                                        		//alert("Email file to SCCWRP");
                                		}
                                		if(data.status === "504"){
                                        		console.log("Your file took to long to process. Please email file to SCCWRP.");
                                        		//alert("Email file to SCCWRP");
                                		}
                                		end_loader('#core_progress','<span>Failed Core Checks <a href="#" data-role="button" data-icon="check" data-inline="true" data-iconpos="notext"></a></span>');                                   
                                		end_application("Application Failed","The application suffered a critical error. SCCWRP has been notified. The application will reload now","critical",message,email_login,agency,"unknown"); 
                        		}
					//} may be needed
				})


	}
		$(document).on( "pageinit", "#two", function( event ) {
			console.log("pageinit");
			//presentation(table_match,redundant,redundant_custom,business,custom,summary_file);
	// Tab initialization
	$('#tabs').tabs({
	    activate: function(event,ui) {
		console.log(ui.newTab.index());
		// You need Firebug or the developer tools on your browser open to see these
		console.log(event);
		// This will get you the index of the tab you selected
		//console.log(event.options.selected);
		// And this will get you it's name
		// console.log(event.tab.text);
	    }
	});
		});
		$(document).ready(function(){
			//console.log("test");
			//report();

			application();
			function login(){
				console.log("login routine");
				$('<div>').simpledialog2({
					mode: 'blank',
					width: 600,
					top: 150,
					headerText: 'SMC',
					blankContent :
					//'<div style="padding:10px 20px;"><h3>Please sign in</h3><input type="email" name="checker_login_email" id="checker_login_email" value="" placeholder="email" data-theme="a" autocomplete="checker_login_email"><input type="text" name="checker_login_agency" id="checker_login_agency" value="" placeholder="agency" data-theme="a" autocomplete="checker_login_agency"></div>'+
					'<div style="padding:10px 20px;"><h3>Your Email Address:</h3><input type="email" name="checker_login_email" id="checker_login_email" value="" placeholder="email" data-theme="a" autocomplete="checker_login_email">'+
					'<h3>Your Agency/Lab:</h3><select name="checker_login_agency" id="checker_login_agency">'+
					{% for a in agencies %}
						'<option value="{{ a['agencycode'] }}">{{ a['agencyname'] }}</option>'+
					{% endfor %}
					'</select>'+
					'<h3 title="Owner Information">Who is the Data Owner: <a id="toast_owner" class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" title="Learn more">Learn more</a></h3><select name="checker_login_owner" id="checker_login_owner">'+
					{% for o in owners %}
						'<option value="{{ o['agencycode'] }}">{{ o['agencyname'] }}</option>'+
					{% endfor %}
					'<option value="Other">Other</option></select>'+
					'<h3>What is the Sampling Year:</h3><select name="checker_login_year" id="checker_login_year"><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option></select>'+
					'<h3>What is the Project:</h3><select name="checker_login_project" id="checker_login_project"><option value="SMC">SMC</option><option value="Other">Other</option></select></div>'+
				"<button rel='close' id='login_close' class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check'>Sign in</button>"
				})
				$("#toast_owner").click(function(e,u){
					$.toast({
						heading: 'Message',
						text: 'Data owners message',
						position: 'mid-center',
						icon: 'info',
						loader: false
                                        })
				});
			}
			login();
			//get_agency();

			$("#checker_login_owner").change(function(e,u){
				if (this.value === "Other"){
					var other = prompt("Please enter value:");
					if (other != null){
						$('<option>').val(''+other+'').text(''+other+'').appendTo('#checker_login_owner');
						$("#checker_login_owner").val(''+other+'');
						$("#checker_login_owner").selectmenu('refresh');
					}
				}
			});
			$("#checker_login_project").change(function(e,u){
				if (this.value === "Other"){ var other = prompt("Please enter value:");
					if (other != null){
						$('<option>').val(''+other+'').text(''+other+'').appendTo('#checker_login_project');
						$("#checker_login_project").val(''+other+'');
						$("#checker_login_project").selectmenu('refresh');
					}
				}
			});

			$("#login_close").click(function(e) {
				email_login = $("#checker_login_email").val();
				agency = $("#checker_login_agency").val();
				owner = $("#checker_login_owner").val();
				year = $("#checker_login_year").val();
				project = $("#checker_login_project").val();
				// put in code to check that email address is an email address
				if (email_login && agency){
					drop(email_login,agency,owner,year,project);
				} else {
					/* needs to be fixed */
					e.stopPropagation();
					e.preventDefault();
					alert("Email address and agency are required.");
					login();
				}
			});

			function drop(email_login,agency,owner,year,project){
				console.log("upload routine");
				console.log(email_login);
				console.log(agency);
				console.log(owner);
				console.log(year);
				console.log(project);
				console.log(usession);
				/* disable events before drop */
				$('#final_submit').hide();
				$('html').on('dragenter',function(event){ event.stopPropagation(); event.preventDefault(); });
				$('html').on('dragover',function(event){ event.stopPropagation(); event.preventDefault(); });
				$('html').on('drop',function(event){
					event.stopPropagation();
					event.preventDefault();
					var dropped_files = event.originalEvent.dataTransfer.files;
					// if user drops more than one file in the interface alert and exit
					if(dropped_files.length > 1){
						alert("Please only submit one file at a time.");
						return;
					}
					upload(dropped_files);
				}); // html drop function
			}
				$("#final_submit").click(function(e){
					e.stopImmediatePropagation();
					e.preventDefault();
					var formData = new FormData();
					var submit_file = $('#modified_file').text();
					var assignment_match = $('#assignment_table').text();
					var submission_type = $('#submission_type').text();
					//var database = $("#select-database :selected").text();
					var database = "smcphab";
					var type = "none";
					formData.append('database', database);
					formData.append('submission_type', submission_type);
					formData.append('submit_file', submit_file);
					formData.append('assignment', assignment_match);
					formData.append('agency', agency);
					formData.append('owner', owner);
					formData.append('year', year);
					formData.append('project', project);
					formData.append('login', email_login);
					formData.append('delineate', delineate);
					get_status(timestamp); // turn on status logging
					$.ajax({
						url: $SCRIPT_ROOT + '/staging',
						type: "POST",
						data: formData,
						processData: false,
						contentType: false,
						beforeSend: function(){
							$.mobile.changePage('#submit_message_window', {transition: 'pop', role: 'dialog'});
							start_loader('#submit_progress','<span>Loading Data into Database<p class="lt-ie10"><i class="loader"></i></p></span>')
						},
						success: function(data){
							console.log(data);
							if (data.report){
								message = "success";
								agency = data.agency;
								submission_type = data.submission_type;
								end_application("Data Loaded Successful","Thank you for submitting your data. SCCWRP staff along with committee have been notified of your submission.","success",message,email_login,agency,submission_type);
                                        			$.mobile.changePage( "#report", { transition: "pop"} );
                                        			//$('#report_main').append(data.report);
                  						if(Object.keys(data.report).length !== 0){
                          						var report_object = $.parseJSON(data.report);
									console.log(report_object);
                                        				agency_string = '<h3>Report for '+ agency + ':</h3><hr><img src="/images/green.png" width="25px" height="25px"> = Complete<br><img src="/images/red.png" width="15px" height="15px"> = Missing<br>NR = Not Required<hr>';
									$('#report_main').append(agency_string);
									report_table = "<table id='report'>";
									if (submission_type == "field"){
										report_header = "<tr><th>StationID</th><th>Trawl</th><th>Grab</th></tr>";
									} else {
										// get parameter elements and loop through to create extra headers
										parameter_list = JSON.parse(data.parameters);
										report_header = "<tr><th>StationID</th>";
										$.each(parameter_list, function(index,parameter_element){
											report_header += "<th>" + parameter_element + "</th>";
										});
											report_header += "</tr>";
									}
									$('#report_main').append(report_table);
									$('#report_main').append(report_header);
									for(var i= 0; i < report_object.length; ++i){
									  report_string = "<tr><td>" + report_object[i].stationid + "</td>";
									  if (submission_type != "field" ){
										console.log(data.parameters)
										parameter_list = JSON.parse(data.parameters);
										console.log(parameter_list)	
										// loop through each parameter element for each report record for complete,empty,or nr
										$.each(parameter_list, function(index,parameter_element){
										if (report_object[i].parameter == parameter_element && report_object[i].submissionstatus == "complete"){
											report_string += '<td><img src="/images/green.png" width="25px" height="25px"></td>';
										} else if (report_object[i].parameter == parameter_element && report_object[i].submissionstatus == "") {
											report_string += '<td><img src="/images/red.png" width="15px" height="15px"></td>';
										} else {
											report_string += '<td><b>NR</b></td>';
										}
										});
									  } else {
										if (report_object[i].trawlagency == agency){
											if (report_object[i].trawlsubmit == 'complete'){
												report_string += '<td><img src="/images/green.png" width="25px" height="25px"></td>';
											} else {
												report_string += '<td><img src="/images/red.png" width="15px" height="15px"></td>';
											}
										} else {
											report_string += '<td><b>NR</b></td>';
										}
										if (report_object[i].grabagency == agency){
											if (report_object[i].grabsubmit == 'complete'){
												report_string += '<td><img src="/images/green.png" width="25px" height="25px"></td>';
											} else {
												report_string += '<td><img src="/images/red.png" width="15px" height="15px"></td>';
											}
										} else {
											report_string += '<td><b>NR</b></td>';
										}
									    }
									    report_string += "</tr>";	
									    $('#report_main').append(report_string);
									  } // end for loop
									  report_end_table = "</table>";
									$('#report_main').append(report_end_table);
								} // end if object.keys
							} else {
								console.log(data);
								end_loader('#submit_progress','<span>Loaded Data Successfully <a href="#" data-role="button" data-icon="check" data-inline="true" data-iconpos="notext"></a></span>')
								message = "problem";
								// hold message for twenty second then let user know that app will reload
								// send pertinent message to sccwrp staff - you will need to know which dataset was submitted
								// action = toxicity, fish, etc... and record_count and who submitted (for later after authen)
								end_application("Data Loaded Successful","Thank you for submitting your data. SCCWRP staff along with committee have been notified of your submission. The application will reload now","success",message,email_login,"unknown");
								//report();
							}
						},
						error: function(data){
							console.log(data)
							//console.log("Application Error:"+ data.responseJSON.message);
							message = "problem";
							if(data.responseJSON.message){
								message = data.responseJSON.message;
							} else {
								message = "Missing data.responseJSON.message";
							}
							end_loader('#core_progress','<span>Failed Core Checks <a href="#" data-role="button" data-icon="check" data-inl    ine="true" data-iconpos="notext"></a></span>');
							end_application("Application Failed","The application suffered a critical error. SCCWRP has been notified. The application will reload now","critical",message,email_login,agency,"unknown");
						}
					});
					// send signal to get_status to quit checking on status
					end_status();
					$('#final').closest('.ui-btn').hide();
				});
				$("#notification_close").click(function(e,u){
					console.log("notification_close");
					//e.stopImmediatePropagation();
					//e.preventDefault();
					//$('#notification_window').dialog( "close" );
				});
				$("#page_reload").click(function(e,u){
					var answer = confirm("Are you sure you want to restart the application?");
					if (answer == true){
						e.stopImmediatePropagation();
						e.preventDefault();
						reload_page();
					} else {
						// do nothing
					}
				});
			});
		</script>
	  </head>
	  <div id="one" data-role="page">
	    <h3>Drag & Drop Single File to Run Checker</h3>
		<!-- just in case there are agencies that cant use dragndrop - will need to rewrite upload function // -->
		<div id="fileupload" name="fileupload" style="width: 250px">
			<input type="file" id="files" name="files" onchange="upload(this.files);" style="width: 250px">
		</div>
	    <div id="one_main" role="main" class="ui-content">
	    </div>
		<div id="one_main_image">
		<img src="/images/smc.jpg" />
		</div>
	  </div>

	  <div id="two" data-role="page">
	    <div id="main" role="main" class="ui-content">
		<a href="#" class="ui-btn" id="page_reload" rel="external">Reload Application</a>
		<div id="tabs" data-role="tabs"><div id="tabsnav" data-role="navbar"><ul><li><a href="#home" class="ui-btn-active">Submission Information</a></li></ul></div>
		<div id="home">
		<ul data-role="listview" data-inset="true" data-divider-theme="a">
		  <li>
			<h2>Dropped File</h2>
			<p id="original_file"></p>
			<p id="modified_file"></p>
		  </li>
		  <li>
			<h2>Excel Tab to Table Comparison</h2>
			<p id="compare_list">
		  </li>
	    	  <li><h2>Total Errors</h2> <span id="total_errors" class="ui-li-count"></span></li>
    	  <li><p><strong>Match</strong></p> <span id="match_errors" class="ui-li-count"></span></li>
    	  <li><p><strong>Missing/Incomplete</strong></p> <span id="mia_errors" class="ui-li-count"></span></li>
    	  <li><p><strong>Lookup Failure</strong></p> <span id="lookup_errors" class="ui-li-count"></span></li>
    	  <li><p><strong>Duplicates</strong></p> <span id="duplicate_errors" class="ui-li-count"></span></li>
    	  <li><p><strong>Custom</strong></p> <span id="custom_errors" class="ui-li-count"></span></li>
    	  <li>
		<h2>Log File</h2>
		<p id="log_file"></p>
		<h2>Print to Excel</h2>
		<p id="excel_file"></p>
		<h2>Submission Type</h2>
		<p id="submission_type"></p>
		<h2>Assignment Table</h2>
		<p id="assignment_table"></p>
    	  </li>
    	  </li>
	</ul>
	<div id="final"><button id="final_submit" type="submit" value="Final Submit"/>Final Submit</button></div>
	</div>
	</div>
      </div>
    </div>
  </div>
  <div id="three" data-role="page">
	<div data-role="header">Application Error</div>
	<div id="application_error"></div>
  </div>
  <div data-role="dialog" data-theme="a" id="notification_window">
    <div data-role="header" data-theme="a">
		<h1>Notification</h1>
    </div>
		Data has been checked and is ready to submit.
    <a href="#" id="notification_close" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-a">Close</a>
  </div>
  <div data-role="dialog" data-theme="a" id="message_window">
    <div data-role="header" data-theme="a">
		<h1>Message Center</h1>
    </div>
    <div data-role="content" data-theme="a">
		<ul id="message_center" data-role="listview" data-inset="true">
			<li id="status">Status</li>
			<li id="file_progress">Processing File</li>
			<!--
			<li id="match_progress">Match File</li>
			<li id="core_progress">Core Checks</li>
			<li id="custom_progress">Custom Checks</li>
			// -->
		</ul>
    </div> <!-- close content // -->
  </div> <!-- close message window // -->
  <div data-role="dialog" data-theme="a" id="submit_message_window">
    <div data-role="header" data-theme="a">
		<h1>Message Center</h1>
    </div>
    <div data-role="content" data-theme="a">
		<ul id="message_center" data-role="listview" data-inset="true">
			<li id="submit_status">Status</li>
			<li id="submit_progress">Submit Data</li>
		</ul>
    </div> <!-- close content // -->
  </div> <!-- close message window // -->
  <div id="report" data-role="page">
	<br>
	<a href="#one" onclick="window.location.reload(true)">Go Back to Checker</a><br>
    <div id="report_main" role="report_main" class="ui-content">
    </div>
  </div>

</html>
