<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <style>
	.datatablerowhighlight {
    		background-color: #ECFFB3 !important;
	}
  </style>
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
  	$(document).ready( function () {
    		 $('#mytable').DataTable( { "order": [[ 12, "desc" ]], "paging": true, "pageLength": 50 } );
	} );
  </script>
</head>
<body>
<table id="mytable" class="display">
<thead><tr><th>Login</th><th>Agency</th><th>SesssionKey</th><th>Upload</th><th>Match</th><th>Mia</th><th>Lookup</th><th>Duplicates</th><th>Extended Checks</th><th>Extended Checks Type</th><th>Submit</th><th>Created User</th><th>Create Date</th><th>Log File</th></tr></thead>
<tbody>
{% for s in session %}
	{% set log_file = 'http://checker.sccwrp.org/smc/logs/' + s.sessionkey + '.log' %}
	{% set submit_file = 'http://checker.sccwrp.org/smc/logs/' + s.sessionkey + '.xlsx' %}
	<tr>
	<td>{{ s.login }}</td><td>{{ s.agency }}</td><td>{{ s.sessionkey }}</td><td>{{ s.upload }}</td><td>{{ s.match }}</td><td>{{ s.mia }}</td><td>{{ s.lookup }}</td><td>{{ s.duplicates }}</td><td>{{ s.extended_checks }}</td><td>{{ s.extended_checks_type }}</td><td>{{ s.submit }}</td><td>{{ s.created_user }}</td><td>{{ s.created_date }}</td><td><a href="{{ log_file }}">{{ log_file }} </a><br> <a href="{{ submit_file }}"> {{ submit_file }} </a></td>
	</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
